@model ABCRetail.Models.CustomerEntity
@{
    ViewData["Title"] = "Edit Customer";
}

<h2>Edit Customer</h2>

<form method="post">

    <div class="mb-2">
        <label>Full Name</label>
        <input class="form-control" asp-for="FullName" />
    </div>

    <div class="mb-2">
        <label>Email</label>
        <input class="form-control" asp-for="Email" />
    </div>

    <div class="mb-2">
        <label>Phone</label>
        <input class="form-control" asp-for="Phone" />
    </div>

    <div class="mb-2">
        <label>City</label>
        <input class="form-control" asp-for="City" />
    </div>

    <div class="mb-2">
        <label>Loyalty Tier</label>
        <input class="form-control" asp-for="LoyaltyTier" />
    </div>

    <button class="btn btn-primary" type="submit">Update</button>
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
</form>
